.navbar{
    background-color: rgb(88, 190, 88);
    justify-content: space-between;
    display: flex;
    flex-direction: row;


}
.nav-left{
    padding: 20px;

}
.nav-right{
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    margin: 20px;

}
.a-element{
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    border: 2px solid blue;
    margin: 2px;
}
.log{
    height: 100px;
    padding: 20px;
}
.home{
    justify-content: space-between;
    display: flex;
    flex-direction:row;
    background-color: black;
    margin: 0;
}
.home-left{
    border: 2px solid blue;
    height: 200px;
    height: 50vw;
    width: 50vw;
}
.home-right{
    height: 50vw;
    width: 50vw;
    border: 2px solid blue;

}